<div id="<%= dom_id race %>">
  <p>
    <strong>Race name:</strong>
    <%= race.race_name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= race.location %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= race.grade %>
  </p>

  <p>
    <strong>Winner:</strong>
    <%= race.winner %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= race.date %>
  </p>

</div>
